*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: rgb(156, 236, 205);
}

.board{
  position: relative;
  width: fit-content;
  margin: 20px auto;
  /* user-select: none; */
}

.row{
  display: flex;
}

.square{
  width: 100px;
  height: 100px;
}

.piece{
  position: absolute;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}