@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500&display=swap');

*{
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: rgb(92, 146, 130);
  font-family: 'Libre Franklin', sans-serif;
}

.board{
  position: relative;
  width: fit-content;
  margin: 20px auto;
  user-select: none;
}

.row{
  display: flex;
}

.square{
  width: 100px;
  height: 100px;
}

.piece{
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  z-index: 10;
}

.point{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:rgba(150, 150, 150, 0.5);
}

.hilight{
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(199, 11, 11, 0.5);
}

.move-hilight{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(72, 107, 160, 0.5);
  background: rgba(65, 130, 168, 0.247);
  border-radius: 2px;
}

.gameMessage{
  display: none;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  z-index: 999;
  background: rgba(212, 233, 238, 0.95);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  gap: 2px;
}
.gameMsgTitle{
  font-weight: 500;
}

.gameMsgSubtitle{
  font-weight: 400;
  font-size: 1.5rem;
}

.exit-modal{
  position: absolute;
  top:15px;
  right: 25px;
}

.exit-modal:hover{
  cursor: pointer;
}
